name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write
    environment: pub.dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
      - uses: ./.github/actions/setup-flutter
      
      - name: Publish linkedin_login_android
        working-directory: linkedin_login_android
        run: |
          dart pub get
          dart pub publish --force
        
      - name: Publish linkedin_login_ios
        working-directory: linkedin_login_ios
        run: |
          dart pub get
          dart pub publish --force
        
      - name: Publish linkedin_login (main package)
        working-directory: linkedin_login
        run: |
          # Skip pub get - dependencies may not be available yet, but pub publish only validates pubspec.yaml
          dart pub publish --force



